 .u-section-1 {
  background-image: url("images/Photo-0008_edited.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 805px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 449px auto 0;
}

.u-section-1 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 3.75rem;
  font-weight: 700;
}

.u-section-1 .u-text-3 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  font-size: 1.25rem;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 664px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 509px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 241px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 830px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 44px auto 0 0;
}

.u-section-2 .u-image-1 {
  width: 661px;
  height: 726px;
  margin: -48px 27px 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1.375rem;
  margin: -669px 748px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 24px;
  }

  .u-section-2 .u-image-1 {
    width: 513px;
    height: 721px;
    margin-top: -39px;
    margin-right: 22px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 548px;
    margin-bottom: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1263px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 22px;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: 456px;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: -1170px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
    margin-top: 37px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 303px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin: -1020px 10px 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1114px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 25px;
  }

  .u-section-2 .u-image-1 {
    height: 593px;
    margin-top: 446px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin: -1029px 0 644px;
  }
}